<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Form</h2>
    <form action="/monet/" method="post">
        <div class="form-group">
            {{ form.monet_name.label }}
            {{ form.monet_name(class='form-control', placeholder="Enter the name of the coin") }}
        </div>
        <div class="form-group">
            {{ form.monet_year.label }}
            {{ form.monet_year(class='form-control', placeholder="Enter the year of the coin") }}
        </div>
        <div class="form-group">
            {{ form.monet_price.label }}
            {{ form.monet_price(class='form-control', placeholder="Enter the price of the coin") }}
        </div>
        <div class="form-group">
            {{ form.monet_size.label }}
            {{ form.monet_size(class='form-control') }}
        </div>

        {{ form.submit(class='btn btn-warning') }}
    </form>
</div>

</body>
</html>