<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Houses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <script src="/static/script.js" defer></script>
</head>
<body>



<nav class="nav">
    <a href="/home/" class="logo">RENTHOUSE.UA</a>


    <ul class="nav-links">
        <li><a href="/home/">Головна</a></li>
        <li><a href="/tours_houses/">Тури-Житло</a></li>
        <li><a href="/buy_houses/">Як замовити житло</a></li>
        <li><a href="/about_us/">Про нас</a></li>
        <li><a href="/our_contacts/">Наші контакти</a></li>
    </ul>

    <i class="uil uil-search search-icon" id="searchIcon"></i>
    <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Шукай тут..."/>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="text-for-site">
    <h1>Як замовити тур чи нове житло?</h1>
</div>
<br>
<br>
<br>
<br>
<div class="card-container">
    <div class="card">
        <div class="card-content">
            <p>Звільнити себе від рутини та організувати подорож або знайти новий дім в іншій країні легко!<br> Просто зареєструйтеся та заповніть дані, як показано на знімку екрану зі стрілками</p>
        </div>
        <br>
        <img src="/static/image-5.png" alt="img-5" class="image-item">
        <br>
        <br>
        <br>
        <br>
        <div class="card-content">
            <p>Заходиш на сайт, і якщо ти вже мав акаунт, вхід займе буквально лише 1 хвилину.<br> Впевнений, що встигнеш знайти та придбати нове житло без зайвих зусиль</p>
        </div>
        <br>
        <img src="/static/image-6.png" alt="img-5" class="image-item">
        <br>
        <br>
        <br>
        <br>
        <div class="card-content">
            <p>Далі вам треба перейти на вкладку "Тури-Житло"</p>
        </div>
        <br>
        <img src="/static/image-7.png" alt="img-5" class="image-item">
        <br>
        <br>
        <br>
        <br>
        <div class="card-content">
            <p>Та вибираєте тур або житло, яке вам найбільше подобається</p>
        </div>
        <br>
        <img src="/static/image-8.png" alt="img-5" class="image-item">
        <br>
        <br>
        <br>
        <br>
        <div class="card-content">
            <p>Після вибору житла, натисніть кнопку "Купити тур".<br> Протягом 5 годин наші менеджери зв'яжуться з вами, щоб обговорити найзручнішу дату для вашого переїзду.</p>
        </div>
        <br>
        <img src="/static/image-9.png" alt="img-5" class="image-item">
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
</body>
</html>