<!--Головна сторінка-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <script src="/static/script.js" defer></script>
</head>
<body>
<nav class="nav">
    <a href="/home/" class="logo">RENTHOUSE.UA</a>


    <ul class="nav-links">
        <li><a href="/home/">Головна</a></li>
        <li><a href="/tours_houses/">Тури-Житло</a></li>
        <li><a href="/buy_houses/">Як замовити житло</a></li>
        <li><a href="/about_us/">Про нас</a></li>
        <li><a href="/our_contacts/">Наші контакти</a></li>
    </ul>
    <i class="uil uil-search search-icon" id="searchIcon"></i>
    <div class="search-box">
        <form id="searchForm" action="/search/" method="POST">
            <i class="uil uil-search search-icon"></i>
            <input type="text" name="country" placeholder="Шукай тут..."/>
        </form>
    </div>
</nav>
<div class="container">
    <div class="slider-wrapper">
        <button id="prev-slide" class="slider-button material-symbols-rounded">chevron_left</button>
        <div class="image-list">
            <img src="/static/image-1.png" alt="img-1" class="image-item">
            <img src="/static/image-2.png" alt="img-2" class="image-item">
            <img src="/static/image-3.png" alt="img-3" class="image-item">
            <img src="/static/image-4.png" alt="img-4" class="image-item">
        </div>
        <button id="next-slide" class="slider-button material-symbols-rounded">chevron_right</button>
    </div>
</div>
<br>
<br>
<div class="text-for-site">
    <h1>Вибери житло для себе</h1>
</div>
<div class="card-container">
    {% for tour_id, tour in tours.items() %}
        {% if loop.index <= 12 %}
            <div class="card">
                <img src="{{ tour['picture'] }}" alt="{{ tour['title'] }}">
                <div class="card-content">
                    <h3>{{ tour['title'] }}</h3>
                    <p>{{ tour['description'] }}</p>
                    <br>
                    <a href="/house/{{ tour_id }}/" class="btn">Читати більше...</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="crd-btn" style="text-align: center; margin-top: 20px; margin-bottom: 45px;">
    <a href="/tours_houses/" style="display: inline-block; padding: 10px 20px; background: #4a98f7; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease;">
        Показати більше
    </a>
</div>


</body>
</html>