<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oderman - Меню</title>
</head>
<body>
<form method ="POST">
    <label>Введи назву:</label>
    <input type="name" name = "name" placeholder="Введи назву піци" required><br>
    <label>Введи опис:</label>
    <input type="name" name = "description" placeholder="Введи опис піци" required><br>
    <label>Введи ціну:</label>
    <input type="name" name = "price" placeholder="Введи ціну піци" required><br>
    <input type="submit" value="Зберегти"><br>
</form>
</body>
</html>