<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oderman - Меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
<h1>{{title1}}</h1>
<table>
    <thead>
    <tr>

        <th>№</th>
        <th>Назва піци</th>
        <th>Опис інгредієнтів</th>
        <th>Ціна піци</th>
    </tr>
    </thead>
    <tbody>
    {% for participant in data %}
    <tr>

        <td>{{ participant[0] }}</td>
        <td>{{ participant[1] }}</td>
        <td>{{ participant[2] }}</td>
        <td>{{ participant[3] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<a href="/">Повернутися на головну сторінку</a>
</body>
</html>
