<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title1}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>

<!-- Навігаційна панель -->
<div class="menu">
    <a class="active" href="/">Головна</a>
    <a href="/menu">Меню</a>
    <a href="/add_pizza">Додати страву</a>
</div>


<div class="weather">
    <h3 class="weather-text">Погода в Україні: {{ current_weather.main.temp }}°C</h3>
</div>
{% if food_recommendation %}
    <p>Наші рекомендації: {{ food_recommendation }}</p>
{% endif %}

<img height="370px" src="https://technofood.com.ua/uploads/images/Main_pecture1.jpg">
</body>
</html>
