<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrderPizza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="menu">
  <a class="active" href="/">Головна</a>
  <a href="/menu">Меню</a>
  <a href="/add_pizza">Додати страву</a>
</div>


<br>

<img height="370px" src="https://yt3.googleusercontent.com/ytc/APkrFKYfQIna4Xh6Pyh-oF9s8K_UvIhvOpwObJZVjZNH=s900-c-k-c0x00ffffff-no-rj">
<h1>Дякую за покупку</h1>
<p>Ваша піца згодом буде у вас</p>


</body>
</html>